body
{
    background: #232323;
}

.score_card
{
    color: white;
    width: 35%;
    height: 70%;
    text-align: center;
    margin: 8% auto;
    padding: 4%;
    border: 1px solid yellow;
}