.square
{
    background: red;
    margin: 1.6%;
    width: 30%;
    padding-bottom:30%;
    float: left;
}

.color_content
{
    width: 40%;
    margin: 0px auto
}

body
{
    background-color: #232323;
}

h1
{
    color: white;
}